.btn, .btn-dark, .btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem; }
  .btn:hover, .btn-dark:hover, .btn-light:hover {
    background: #c59008;
    color: #fff; }

.btn-dark {
  background: #545454;
  color: #fff; }

.btn-light {
  background: white;
  color: #000; }

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #000;
    transition: all 0.5s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }

.menu {
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  opacity: 0.98;
  visibility: hidden; }
  .menu.show {
    visibility: visible;
    z-index: 2; }
  .menu-branding, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    height: 100vh;
    overflow-x: hidden; }
  .menu-nav {
    width: 0;
    margin: 0;
    padding: 0;
    background: #c6c6c6;
    list-style: none;
    flex-wrap: nowrap;
    transform: translate3d(0, -100%, 0);
    transition: all 0.5s ease-out, width 0.5s ease-out 0.5s;
    justify-content: center; }
    .menu-nav.show {
      width: 50%;
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    width: 50%;
    justify-content: center;
    background: lightgrey;
    transform: translate3d(0, 100%, 0);
    transition: all 0.5s ease-out; }
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
    .menu-branding .portrait {
      width: 250px;
      height: 250px;
      background: url(../img/portrait.jpg);
      background-size: cover;
      border-radius: 50%;
      border: solid 3px #c59008; }
  .menu .nav-item {
    display: block;
    text-align: center;
    width: 100%;
    transform: translate3d(100vw, 0, 0);
    transition: all 0.5s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: #c59008; }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    color: #000;
    text-decoration: none;
    transition: all 0.5s ease-out; }
    .menu .nav-link:hover {
      color: #c59008; }
  .menu-pw {
    justify-content: center;
    height: 100vh;
    width: 0;
    margin: 0;
    padding: 0;
    background: #c6c6c6;
    transform: translate3d(0, -100%, 0);
    transition: all 0.5s ease-out, width 0.5s 0.5s; }
    .menu-pw.show {
      transform: translate3d(0, 0, 0);
      width: 50%; }

.nav-item:nth-child(1) {
  transition-delay: 0.6s; }

.nav-item:nth-child(2) {
  transition-delay: 0.7s; }

.nav-item:nth-child(3) {
  transition-delay: 0.8s; }

.nav-item:nth-child(4) {
  transition-delay: 0.9s; }

.nav-item:nth-child(5) {
  transition-delay: 1s; }

.pw-wrapper {
  margin: auto;
  padding: 20px;
  height: 100%;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  max-width: 700px;
  transition: all 0.5s ease-out 0.75s; }
  .pw-wrapper.show {
    opacity: 1; }
  .pw-wrapper h3.sm-heading {
    padding: 0.7rem 1rem;
    border-radius: 10px; }
    .pw-wrapper h3.sm-heading p {
      font-size: 0;
      line-height: 1;
      color: #c59008;
      transition: all 0.5s ease-out; }
      .pw-wrapper h3.sm-heading p.show {
        font-size: 0.8rem; }
  .pw-wrapper .pw-input {
    display: flex;
    justify-content: center;
    border: 3px solid #c59008;
    border-radius: 10px;
    margin: 20px 0px;
    height: 3rem; }
    .pw-wrapper .pw-input #pw {
      width: 80%;
      height: 100%;
      background-color: #c6c6c6;
      border: none;
      border-radius: 10px;
      padding: 0 5px;
      color: #c59008; }
    .pw-wrapper .pw-input .pwBtn {
      width: 20%;
      border: none;
      background-color: #c59008;
      font-size: 2rem;
      transition: all 0.5s ease-out; }
      .pw-wrapper .pw-input .pwBtn:hover {
        cursor: pointer;
        width: 30%; }

.birthday-btn {
  position: absolute;
  opacity: 1;
  right: 65px;
  top: 33px;
  margin: 0 30px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s ease-out; }
  .birthday-btn i {
    font-size: 1.4rem; }
  .birthday-btn.close {
    visibility: none;
    opacity: 0;
    z-index: -1; }
  .birthday-btn.show {
    color: #c59008; }

.bday-div {
  position: absolute;
  margin: 15vh 10vw;
  opacity: 0;
  background-color: #c6c6c6;
  border: 5px solid #c59008;
  padding: 10px;
  max-width: 80vw;
  max-height: 75vh;
  overflow: auto;
  transition: all 0.5s ease-out; }
  .bday-div h1 {
    margin-bottom: 1.5rem;
    text-align: center; }
  .bday-div p {
    text-align: justify; }
    .bday-div p span .clickme {
      color: #c59008;
      font-weight: bold; }
      .bday-div p span .clickme:hover {
        cursor: pointer;
        text-decoration: underline; }
    .bday-div p span img {
      position: relative;
      max-height: 40vh;
      max-width: 75vw;
      margin-left: auto;
      margin-right: auto;
      height: 0;
      opacity: 0;
      transition: all 0.5s ease-out; }
      .bday-div p span img.show {
        display: block;
        border: 3px solid #c59008;
        margin-top: 1.2rem;
        margin-bottom: 1.2rem;
        height: auto;
        padding: 5px;
        opacity: 1; }
  .bday-div.show {
    opacity: 1; }

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: 'bioimage bio bio' 'infoBox1 infoBox2 infoBox3';
  grid-template-columns: repeat(3, 1fr);
  padding-right: 10px; }
  .about-info .bio-image {
    grid-area: bioimage;
    width: 100%;
    height: auto;
    margin: auto;
    border-radius: 50%;
    border: #c59008 3px solid; }
  .about-info .bio {
    grid-area: bio; }
    .about-info .bio h3 {
      text-align: center; }
    .about-info .bio ol {
      text-align: left; }
      .about-info .bio ol li {
        margin-bottom: 0.4rem; }
  .about-info .infoBox-1 {
    grid-area: infoBox1; }
  .about-info .infoBox-2 {
    grid-area: infoBox2; }
  .about-info .infoBox-3 {
    grid-area: infoBox3; }
  .about-info .infoBox {
    background: #e0e0e0;
    padding: 0.5rem;
    border-bottom: #c59008 5px solid; }
    .about-info .infoBox h3, .about-info .infoBox h6 {
      text-align: center; }
    .about-info .infoBox .infobox-image {
      width: 100%;
      height: auto;
      border: 3px solid #e0e0e0; }
      .about-info .infoBox .infobox-image:hover {
        border-color: #c59008;
        opacity: 0.5;
        transition: all 0.5s ease-out; }
      .about-info .infoBox .infobox-image.active {
        border-color: #c59008;
        opacity: 0.5; }
    .about-info .infoBox p {
      padding: 0 5px;
      text-align: justify;
      font-size: 0;
      transition: all 0.5s ease-in-out; }
      .about-info .infoBox p.show {
        font-size: 1rem; }

.textBox {
  position: absolute;
  z-index: -1;
  top: 75px;
  left: 10vw;
  right: 10vw;
  padding: 40px;
  border: 3px solid #c59008;
  background-color: lightgrey;
  opacity: 0;
  transition: opacity 0.5s ease-out; }
  .textBox .exit {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 1.3rem;
    color: #c59008; }
    .textBox .exit:hover {
      cursor: pointer;
      color: #634804; }
  .textBox .content {
    width: fit-content;
    max-height: 50vh;
    overflow-y: auto;
    overflow-x: hidden; }
    .textBox .content .textContent {
      font-size: 1.2rem;
      font-style: italic;
      margin: 5px 15px 10px 15px;
      text-align: center; }
    .textBox .content .fa-quote-right {
      display: block;
      text-align: left; }
    .textBox .content .fa-quote-left {
      display: block;
      text-align: right; }
  .textBox.show {
    opacity: 1;
    z-index: 2; }

.quotesWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.7rem; }
  .quotesWrapper img {
    width: 100%;
    border: 3px #000 solid; }
    .quotesWrapper img:hover {
      opacity: 0.5;
      border-color: #c59008;
      transition: all 0.5s ease-out; }

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem; }
  .boxes div {
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 1.5rem 2rem;
    margin: 1.5rem 0.5rem;
    transition: all 0.5s ease-out; }
    .boxes div span {
      display: block;
      text-align: center; }
    .boxes div:hover {
      background: #c59008;
      color: #fff;
      border-color: #000;
      font-weight: bold; }
      .boxes div:hover span {
        color: #fff; }

.themes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem; }
  .themes .stylingOption {
    min-width: fit-content; }
    .themes .stylingOption .option {
      display: block;
      padding: 8rem 2rem;
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
      width: 100%;
      border: 3px #000 solid; }
      .themes .stylingOption .option.dark {
        background: url(../img/themes/blackcat.jpg);
        background-size: cover;
        color: #fff; }
      .themes .stylingOption .option.nightblue {
        background: url(../img/themes/nightblue.jpg);
        background-size: cover;
        color: #fff; }
      .themes .stylingOption .option.light {
        background: url(../img/themes/light.jpg);
        background-size: cover;
        color: #000; }
      .themes .stylingOption .option.dragon {
        background: url(../img/themes/dragon.jpg);
        background-size: cover;
        color: #fff; }
      .themes .stylingOption .option:hover {
        opacity: 0.5;
        border-color: #c59008;
        transition: all 0.5s ease-out; }
    .themes .stylingOption .btn, .themes .stylingOption .btn-dark, .themes .stylingOption .btn-light {
      text-align: center; }
      .themes .stylingOption .btn i, .themes .stylingOption .btn-dark i, .themes .stylingOption .btn-light i {
        margin-right: 10px; }

* {
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  background: lightgrey;
  color: #000;
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; }
  body#bg-img {
    background: url(../img/background.jpg);
    background-attachment: fixed;
    background-size: cover; }
    body#bg-img:after {
      content: '';
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(211, 211, 211, 0.9); }

h1, h2, h3 {
  margin: 0;
  font-weight: 400; }
  h1.lg-heading, h2.lg-heading, h3.lg-heading {
    font-size: 6rem; }
  h1.sm-heading, h2.sm-heading, h3.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(216, 216, 216, 0.5); }

a {
  color: #000;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.text-secondary {
  color: #c59008; }

main {
  padding: 4rem 4rem 5rem 4rem; }
  main .icons {
    margin-top: 1rem; }
    main .icons a {
      padding: 0.4rem; }
      main .icons a:hover {
        color: #c59008;
        transition: all 0.5s ease-out; }
  main#home {
    overflow: hidden; }
    main#home h1 {
      margin-top: 20vh; }

#main-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1rem;
  background: #bababa;
  color: #000;
  height: 3.5rem; }

@media screen and (min-width: 1171px) {
  .quotesWrapper {
    grid-template-columns: repeat(4, 1fr); }
  .about-info .bio h3 {
    font-size: 1.5rem; }
  .about-info .bio .definition {
    text-align: center; } }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .quotesWrapper {
    grid-template-columns: repeat(3, 1fr); }
  .themes {
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1rem; }
  ul.menu-nav, div.menu-branding, div.menu-pw {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show, div.menu-branding.show, div.menu-pw.show {
      transform: translate3d(0, 0, 0); }
  .menu {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap; }
    .menu .menu-nav {
      width: 100%;
      height: 0;
      transform: translate3d(-100%, 0, 0);
      transition: all 0.5s ease-out, height 0.5s 0.5s;
      justify-content: unset; }
      .menu .menu-nav.show {
        height: 75vh; }
    .menu .nav-item:nth-child(1) {
      margin-top: 10vh; }
    .menu .menu-branding {
      height: 25vh;
      transform: translate3d(100%, 0, 0); }
      .menu .menu-branding .portrait {
        width: 150px;
        height: 150px; }
    .menu .menu-pw {
      width: 100%;
      height: 0;
      transform: translate3d(-100%, 0, 0);
      transition: all 0.5s ease-out, height 0.5s 0.5s; }
      .menu .menu-pw.show {
        height: 75vh; }
  .about-info {
    grid-template-areas: 'bioimage' 'bio' 'infoBox1' 'infoBox2' 'infoBox3';
    grid-template-columns: 1fr; }
  .quotesWrapper {
    grid-template-columns: repeat(2, 1fr); }
  .themes {
    grid-template-columns: 1fr; } }

@media screen and (max-width: 500px) {
  h1.lg-heading, h2.lg-heading, h3.lg-heading {
    font-size: 3rem; }
  h1.sm-heading, h2.sm-heading, h3.sm-heading {
    font-size: 1.2rem; }
  .menu-nav {
    justify-content: unset; }
  .menu .nav-item:nth-child(1) {
    margin-top: 8vh; }
  main#home {
    padding: 3rem 3rem 5rem 3rem; }
    main#home h1 {
      margin: 15vh -2rem 3vh -2rem; }
  main {
    padding: 3rem 3rem 5rem 3rem; }
    main h1 {
      margin: 5vh -2rem 3vh -2rem; }
  main#contact {
    padding: 3rem 5px 5rem 5px;
    margin: 0; }
    main#contact .boxes div {
      font-size: 1.2rem; }
  .about-info .bio ol {
    margin-left: -0.8rem; }
  .quotesWrapper {
    grid-template-columns: 1fr; } }
