.about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 
        'bioimage bio bio'
        'infoBox1 infoBox2 infoBox3';
    grid-template-columns: repeat(3, 1fr);
    padding-right: 10px;

    .bio-image {
        grid-area: bioimage;
        width: 100%;
        height: auto;
        margin: auto; 
        border-radius: 50%;
        border: $secondary-color 3px solid;
    }
    
    .bio {
        grid-area: bio;

        h3 {
            text-align: center;
        }

        ol {
            text-align: left;

            li {
                margin-bottom: 0.4rem;
            }
        }
    }
    
    .infoBox-1 {
        grid-area: infoBox1;
    }
    
    .infoBox-2 {
        grid-area: infoBox2;
    }
    
    .infoBox-3 {
        grid-area: infoBox3;
    }
    
    .infoBox {
        background: lighten($primary-color, 5);
        padding: 0.5rem; 
        border-bottom: $secondary-color 5px solid; 

        h3, h6 {
            text-align: center;
        }

        h6 {
            font-size: 0.8rem;
        }

        .infobox-image {
            width: 100%;
            height: auto; 
            border: 3px solid lighten($primary-color, 5);

            &:hover{
                cursor: pointer;
                border-color: $secondary-color;
                opacity: 0.5; 
                @include easeOut;
            }

            &.active {
                border-color: $secondary-color;
                opacity: 0.5; 
            }
        }

        p{  
            padding: 0 5px;
            text-align: justify;
            font-size: 0;
            transition: all 0.5s ease-in-out;

            &.show {
                font-size: 1rem;
            }
        }

        a {
            text-align: center;
            font-size: 0.9rem;
        }
    }
}



