// Settings Button
.birthday-btn {
    position: absolute;
    opacity: 1; 
    right: 65px;
    top: 33px;
    margin: 0 30px;
    align-items: center;
    justify-content: center;
    cursor: pointer; 
    @include easeOut;

    i {
        font-size: 1.4rem;
    }

    // Disappear if menu shows up 
    &.close {
        visibility: none;
        opacity: 0;
        z-index: -1;
    }
}
