.pw-wrapper {
    margin: auto;
    padding: 20px;
    height: 100%;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    max-width: 700px;
    transition: all 0.5s ease-out 0.75s;

    &.show {
        opacity: 1;
    }

    h3.sm-heading {
        padding: 0.7rem 1rem;
        border-radius: 10px;

        p {
            font-size: 0;
            line-height: 1; 
            color: $secondary-color;
            @include easeOut;

            &.show {
                font-size: 0.8rem;
            }
        }
    }

    .pw-input {
        display: flex; 
        justify-content: center;
        border: 3px solid $secondary-color; 
        border-radius: 10px;
        margin: 20px 0px;
        height: 3rem;
        

        #pw {
            width: 80%;
            height: 100%;
            background-color: darken($primary-color, 5);
            border: none;
            border-radius: 10px;
            padding: 0 5px;
            color: $secondary-color;
        }

        .pwBtn {
            width: 20%;
            border: none;
            background-color: $secondary-color;
            font-size: 2rem;
            @include easeOut;

            &:hover {
                cursor: pointer; 
                width: 30%;
            }
        }
    }
}