// Quotes

.textBox {
    position: fixed; 
    top: 0; 
    width: 100%;
    opacity: 0.96; 
    visibility: hidden;
    @include easeOut;

    &.show {
        visibility: visible;
        z-index: 2;
    }
}

.quotesWrapper {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.7rem; 

    img {
        width: 100%; 
        border: 3px set-text-color($primary-color) solid; 

        &:hover {
            opacity: 0.5; 
            border-color: $secondary-color; 
            @include easeOut; 
        }
    }
}


